{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="inner-page">
    <div class="container">
      
      <div class="row">
          <div class="col-md-9">                  
           


<div class="personalBlock">                        
                <!-- <a target="_blank" href="../../uploads/1550475473_img_20181205_180628_481.jpg"> 
                <img class="personalImage" src="{{ region.image.url}}"></a> -->
                                                
        <div class="personalCard">
            <div class="blog-post-title b" style="font-size: 30px;"> {{news_detail.title}}</div>
            <div class="blog-post-title b" style="font-size: 13px;font-weight: bolder;">  <i class="blog-sidebar-heading-icon bx bx-calendar"></i>{{news_detail.date.date}}</div>

            <hr>
            <picture>
                <source type="image/svg+xml">
                <img src="{{news_detail.image.url}}" class="img-fluid img-thumbnail" alt="...">
              </picture>
            <div class="blog-post-title pt-2" style="font-size: 23px;"> {{news_detail.Text}}</div>

        
            
            <!-- <div class="minButtons js-toggleLinks">
              <a class="btn btn-info p-2" href="#biography">Tarjimai hol</a>
              <a class="btn btn-info p-2" href="#functions">Funksiya va vazifalar</a>
            </div>

            <div id="biography" class="personalBiography">
               <p></p><div class="personHistoryItem">
                       <div class="personHistoryDesc"></div>
                       <div class="personHistoryPeriod">{{region.biography}}</div>
                  </div></div> -->
            <div id="functions" class="personalBiography"><p style="text-align: justify;"><p style="text-align: center; "><b>{{region.functions_tasks}}</b></p></p>
            </div>
        </div>
    </div>
    <hr>
    
            </div>
          
          <div class="col-md-3"> 
      <div class="blog-sidebar margin-b-30">
          <div class="blog-sidebar-heading">
            <i class="blog-sidebar-heading-icon bx bx-history"></i>
            <h4 class="blog-sidebar-heading-title">So`nggi yangiliklar</h4>
          </div>
          <div class="blog-sidebar-content">                  
            <ul class="timeline-v2">
                             </ul>
          </div>
      </div>
    
      <div class="blog-sidebar">
        <div class="blog-sidebar-heading">
          <i class="blog-sidebar-heading-icon bx bx-key"></i>
          <h4 class="blog-sidebar-heading-title">Kalit so`zlar</h4>
        </div>
        <div class="blog-sidebar-content">
          <ul class="list-inline blog-sidebar-tags">
                        </ul>
        </div>
      </div>
    
    </div>
         
        </div>

    </div>
  </section> 
{% endblock content %} 