{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- End Header -->
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{% trans 'MADHIYA' %}</h2>
         
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
		<p style="text-align: center;"><strong>{% blocktranslate  %}O‘ZBEKISTON RESPUBLIKASINING DAVLAT MADHIYASI{% endblocktranslate  %}</strong></p>
<p style="text-align: justify;">{% blocktranslate  %}“O‘zbekiston Respublikasining davlat madhiyasi” to‘g‘risidagi qonun 1992 yil 10 dekabrda O‘zbekiston Respublikasi Oliy Kengashining O‘n birinchi sessiyasida qabul qilingan.{% endblocktranslate  %}</p>
<p style="text-align: center;"><br><b>{% blocktranslate  %}Mutal Burhonov musiqasi <br>Abdulla Oripov so‘zi{% endblocktranslate  %}</b></p>
<p style="text-align: center;"><br>{% blocktranslate  %}Serquyosh hur o‘lkam, elga baxt, najot, <br>Sen o‘zing do‘stlarga yo‘ldosh, mehribon! <br>Yashnagay to abad ilmu fan, ijod, <br>Shuhrating porlasin toki bor jahon!{% endblocktranslate  %}</p>
<p style="text-align: center;">{% trans 'Naqarot:' %}</p>
<p style="text-align: center;">{% blocktranslate  %}Oltin bu vodiylar - jon O‘zbekiston, <br>Ajdodlar mardona ruhi senga yor! <br>Ulug‘ xalq qudrati jo‘sh urgan zamon, <br>Olamni mahliyo aylagan diyor!{% endblocktranslate  %}</p>
<p style="text-align: center;">{% blocktranslate  %}Bag‘ri keng O‘zbekning O‘chmas iymoni, <br>Erkin, yosh avlodlar senga zo‘r qanot! <br>Istiqlol mash'ali tinchlik posboni, <br>Xaqsevar, ona yurt, mangu bo‘l obod!{% endblocktranslate  %}</p>
<p style="text-align: center;">{% trans 'Naqarot:' %}</p>
<p style="text-align: center;">{% blocktranslate  %}Oltin bu vodiylar - jon O‘zbekiston, <br>Ajdodlar mardona ruhi senga yor! <br>Ulug‘ xalq qudrati jo‘sh urgan zamon, <br>Olamni mahliyo aylagan diyor!{% endblocktranslate  %}</p>
      </div>
    </section>

  </main><!-- End #main -->
  
{% endblock content %} 