{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="inner-page">
    <div class="container">
      
      <div class="row">
          <div class="col-md-9">                  
           
{% for manager in managers_list %}

<div class="personalBlock">                        
                <a target="_blank" href="../../uploads/1550475473_img_20181205_180628_481.jpg"> 
                <img class="personalImage" src="{{ manager.image.url}}"></a>
                                                
        <div class="personalCard">
            <div class="personalCardName"><i class="bx bx-user"></i>{{manager.name}}</div>
            <div class="personalCardPosition"><i class="bx bx-shield"></i>{{ manager.title}}</div>
            <div class="personalCardRecDays"><i class="bx bx-phone"></i>Telefon: {{manager.phone}}</div>
            <div class="personalCardRecDays"><i class="bx bx-task"></i>Qabul kunlari: {{ manager.acceptance_dates}}</div>
            
            <div class="minButtons js-toggleLinks">
              <a class="btn btn-info p-2" href="#biography">{% translate  'Tarjimai hol' %}</a>
              <a class="btn btn-info p-2" href="#functions">{% translate  'Funksiya va vazifalar' %}</a>
            </div>

            <div id="biography" class="personalBiography">
               <p></p><div class="personHistoryItem">
                       <div class="personHistoryDesc"></div>
                       <div class="personHistoryPeriod">{{manager.biography}}</div>
                  </div></div>
            <div id="functions" class="personalBiography"><p style="text-align: justify;"><p style="text-align: center; "><b>{{manager.functions_tasks}}</b></p></p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
            </div>
          
          <div class="col-md-3"> 
      <div class="blog-sidebar margin-b-30">
        
          <div class="blog-sidebar-content">                  
            <ul class="timeline-v2">
                             </ul>
          </div>
      </div>
    
      <div class="blog-sidebar">
     
        <div class="blog-sidebar-content">
          <ul class="list-inline blog-sidebar-tags">
                        </ul>
        </div>
      </div>
    
    </div>
         
        </div>

    </div>
  </section> 
{% endblock content %} 