{% extends 'base.html' %}
{% load static %}
{% load  i18n %}
{% block content %}

<section class="inner-page">
    <div class="container">
      
      <div class="row">
          <div class="col-md-9">                
{% if object_list %}    
    {% for region in object_list %}

<div class="personalBlock">                        
                <!-- <a target="_blank" href="../../uploads/1550475473_img_20181205_180628_481.jpg"> 
                <img class="personalImage" src="{{ region.image.url}}"></a> -->
                                                
        <div class="personalCard">
            <a href="{% url 'news_d' region.id %}" > <div class="personalCardName">{{region.title}}</div></a>   
            <!-- <div class="personalCardRecDays">{{region.title}}</div> -->
        <div class="personalCardRecDays"><i class="bx bx-calendar"></i>{{ region.date.date}}</div>
            
            <!-- <div class="minButtons js-toggleLinks">
              <a class="btn btn-info p-2" href="#biography">Tarjimai hol</a>
              <a class="btn btn-info p-2" href="#functions">Funksiya va vazifalar</a>
            </div>

            <div id="biography" class="personalBiography">
               <p></p><div class="personHistoryItem">
                       <div class="personHistoryDesc"></div>
                       <div class="personHistoryPeriod">{{region.biography}}</div>
                  </div></div> -->
            <div id="functions" class="personalBiography"><p style="text-align: justify;"><p style="text-align: center; "><b>{{region.functions_tasks}}</b></p></p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% else %}
<h1>{% trans 'Qidiruv bo\'yicha ma\'lumot topilmadi' %}</h1>
{% endif %}
            </div>
          
          <div class="col-md-3"> 
      <div class="blog-sidebar margin-b-30">
         
          <div class="blog-sidebar-content">                  
            <ul class="timeline-v2">
                             </ul>
          </div>
      </div>
    
      <div class="blog-sidebar">
        
        <div class="blog-sidebar-content">
          <ul class="list-inline blog-sidebar-tags">
                        </ul>
        </div>
      </div>
    
    </div>
         
        </div>

    </div>
  </section> 
{% endblock content %} 